*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background:  rgb(238, 238, 238);
    font-family:  Helvetica, sans-serif;
    height: 100vh;
}
header{
    display: flex;
    border-bottom: 2px solid black;
}
header h1{
    margin: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
main{
    margin: 10px;
}
footer{
    width: 100%;
    background-color: rgb(102, 102, 102);
    color:rgb(255, 255, 255);
}
footer p{
    margin: 10px;
}