html{
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}
section.container{
    display: flex;
    flex-direction: row;
    max-width: 70vw;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
}
h2{
    font-family: Georgia,serif;
    line-height: 1.2;
    letter-spacing: 3px;
}
article{
    border-radius: 2rem;
    padding: 1rem;
    opacity: 0.8;
}
